

<div class="button-zone">
<a href="/top/show" class="btn btn-default active">DESCRIPTION</a>
</div>

<h1>PROFIEL</h1>
<div class="box">
  <p><%=image_tag '/refactor.png', :size => '250x250'%></p>

  <h1>ItinoseSan</h1>
  <h2>Beginner Rails/Unity developer</h2>
  <h2><!-- in your header -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- in your body -->
    <i class="devicon-google-plain"></i>:dhelitus@gmail.com</h2>
  <h2><link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- in your body -->
    <i class="devicon-twitter-plain"></i>:<a href=https://twitter.com/ItinoseVM>一ノ瀬さん</a></h2>
  <h2><!-- in your header -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- in your body -->
    <i class="devicon-github-plain"></i>:<a href=https://github.com/ItinoseSan>ItinoseSan</a></h2>
  <h2>Qiita:<a href=http://qiita.com/Itinoise>Itinoise</a></h2>
  <h2>hatenablog:<a href=http://itidiary.hatenablog.com/>エラーな日常</a></h2>
  </div>
</div>


<h5>This web application made by itinoseSan 2017</h5>



