<meta name="viewport" content="initial-scale=1">
<div class="button-zone">
<a href="/top/show" class="btn btn-default active">DESCRIPTION</a>
</div>

<h1>PROFILE</h1>
<div class="box">
  <div class="my-icon">
  <%=image_tag '/refactor.png', :size => '250x250'%>
  </div>
  <h1>ItinoseSan</h1>
  <h3>Beginner Rails/Unity developer</h3>
  <h3><!-- in your header -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- in your body -->
    <i class="devicon-google-plain"></i>:dhelitus@gmail.com</h3>
  <h3><link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- in your body -->
    <a href=https://twitter.com/ItinoseVM style="text-decoration:none; color: steelblue; "><i class="devicon-twitter-plain"></i></a></h3>
  <h3><!-- in your header -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <!-- in your body -->
    <a href=https://github.com/ItinoseSan style="text-decoration:none; color: beige;"><i class="devicon-github-plain"></i></a></h3>
  <h3><a href=http://qiita.com/Itinoise style="text-decoration: none; color: yellowgreen;">Qiita</a></h3>
  <h3><a href=http://itidiary.hatenablog.com style="text-decoration: none; color: #090909">Hatenablog</a></h3>
  </div>
</div>


<h5>Copyright (c) [2017] [ItinoseSan]</h5>



