<meta name="viewport" content="initial-scale=0.7">
<div class="button-zone">
  <a href="/top/index" class="btn btn-default active">BACK</a>
</div>


<h1 style=color:#EFEFEF;">DESCRIPTION</h1>
<div class="box">
<div class="secondView">
  <h1 style="color: yellowgreen">INTRODUCE</h1>
  <p>一ノ瀬と申します。これは別に本名ではないです。普段はWebフロントエンド、Unityをいじってる初心者です。最近は<a href=http://globallab.jp/>グローバルラボ仙台</a>の活動に参加しています。</p>
</div>

<div class="topView">
<h1 style="color: yellowgreen">APPLICATION TECHNOLOGY</h1>

<h4 style="color:gainsboro"><link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

  <!-- in your body -->
  <i class="devicon-rails-plain-wordmark"></i><link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

  <!-- in your body -->
  <i class="devicon-bootstrap-plain-wordmark"></i></h4>

<h1 style="color: yellowgreen">MY CAREER</h1>
  <div class="ul-set">
      <li>石巻ハッカソンにてダブル受賞(2017)</li>
      <li>Unity道場仙台スペシャルメンター(2017)</li>
  </div>
</div>
</div>
<h5>※Background picture is night of Sendai</h5>